header {
    min-height: 100vh;
    position: relative;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    overflow: hidden;

    .intro-text {
        font-family: "Montserrat", sans-serif;
        width: 80%;
        min-height: 100vh;
        color: $textColor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;

        h1 {
            font-family: 'Tangerine', cursive;
            font-size: 60px;
            text-transform: uppercase;
            font-weight: bolder;
            text-shadow: 3px 2px black;
            letter-spacing: 15px;
            opacity: 0;
            animation: titleAnimation 1s ease forwards 0.5s;
        }

        h3 {
            font-family: 'Tangerine', cursive;
            font-weight: normal;
            font-size: 52px;
            font-weight: bold;
            text-shadow: 3px 2px black;
            margin-top: 20px;
            opacity: 0;
            animation: titleAnimation 1s ease forwards 1s;
        }

        q {
            font-family: 'Tangerine', cursive;
            font-weight: bold;
            font-size: 48px;
            margin-top: 20px;
            text-shadow: 3px 2px black;

        }
    }

    .jaguarE {
        height: 50%;
        width: 40%;
        position: absolute;
        top: 50%;
        left: 70%;
        transform: translate(-70%, -50%);
        opacity: 0;
        animation: jaguar-intro 1s ease forwards 0.5s;
    }

    .big-rose {
        height: 50%;
        position: absolute;
        bottom: -30%;
        left: 50%;
        animation: chair-rose 1s ease forwards 0.8s;
        opacity: 0;
        transition: transform 1s ease;
    }
}